<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
{{!-- To use a partial, all we need is the > character
      Followed by the name of the partial --}}

  </li>
  {{/each}}
</ol>